* {
    margin: 0;
    padding: 0;
}
.active {
    color:rgb(187, 46, 31);
    
}
button:disabled{
    background:#f2f2f2!important;
    color:#c7c7c7!important;;
}

.active2 {
    color: #000000;;
    
}
